<div class="wrapper">
    <div class="appointment">
        <h5>Make an Appointment</h5>
        <p>Time is gold! Make appointment to prevent disappointment!</p>
        <div class="appointment__form d-flex flex-row">
                <div class="appointment__form-date"> 
                    <input type="text" placeholder="Date & Time" class="form-control" id="date">
                </div>
                <div class="appointment__form-state">
                    <select placeholder="State" class="form-control" id="state">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="appointment__form-branch">
                    <select placeholder="Branch name" class="form-control" id="branch">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
        </div>
    <button class="btn">submit</button>
    </div>
</div>