<div class="heroes">
    <h1>Only heroes - adopt.</h1>
    <p>
        <strong>Not all heroes wear capes!</strong> Saving the world is not a job that is only <br>
        exclusive to comic heroes in new york city... <br>
        Now, you can do your part with one paw at a time.
    </p>

    <div class="heroes__secondary-img d-lg-flex justify-content-around">
        <div>
            <img src="/assets/images/graphic_01.png" alt="true companionship">
            <h5> true companionship </h5>
            <p>
                Opening your doors to your now <br>
                furry friend brings a wholesome <br>
                now meaning to friendship 
            </p>
        </div>
        <div>
            <img src="/assets/images/graphic_02.png" alt="fulfilling role">
            <h5> fulfilling role </h5>
            <p>
                The major side effect of being <br>
                there for your furry friend is feeling <br>
                very rewarded when they purr!
            </p>
        </div>
        <div>
            <img src="/assets/images/graphic_03.png" alt="loving community">
            <h5> loving community </h5>
            <p>
                You will be part of a huge and <br>
                growing community of adopters, <br>
                worldwide, to share your <br>
                experiences!
            </p>
        </div>
    </div>
</div>