<div class="wrapper">
    <div class="extra d-flex justify-content-around">
        <div class="extra__content">
            <h5>Extra hands?</h5>
            <p>YES please! Be a volunteer today:</p>
        </div>
        <div class="extra__form d-flex justify-content-around">
            <div class="extra__form-email"> 
                <input type="text" placeholder="youremail@address.com" class="form-control" id="email">
            </div>
            <button class="btn">i want help</button>
        </div>
    </div>
    <hr>
    <div class="extra-info d-flex">
        <p class="mr-auto">&#169; THE CATESTROPHE</p>
        <p>FAQs</p>
        <p>PRIVACY POLICY</p>
        <p>LEGAL NOTICES</p>
    </div>
</div>