@import '../../../../assets/styles/utils/function';
@import '../../../../assets/styles/main.scss';

$start-firstBreakpoint: 915px;
$start-secondBreakpoint: 561px;


.wrapper {
    background: jpg(bgheader_1) no-repeat;
    background-size: cover;
    width: 100%;
    height: 85%;

    @include media($start-secondBreakpoint) {
        & {
            height: 100%;
            background-size: contain;
        }
    }
}

.header {
    margin: 0 20% 0 20%;

    @include media($start-firstBreakpoint) {
        & {
             margin: 0 10% 0 10%;
        }
    }

    @include media($start-secondBreakpoint) {
        & {
             margin: 0 3% 0 3%;
        }
    }

    ul {
        list-style: none;
        padding-top: 20px;
        li {
            color: #a9730e;
            text-transform: uppercase;
            padding: 15px;
            cursor: pointer;
            @include media($start-firstBreakpoint) {
                & {
                    font-size: 13px;
                }
            }
            @include media($start-secondBreakpoint) {
                & {
                    font-size: 12px;
                }
            }
        }

        span {
            background: png(logo) no-repeat;
            background-size: contain;
            width: 160px;
            height: 50px;
            margin-right: 20px;

            @include media($start-firstBreakpoint) {
                & {
                    width: 130px;
                }
            } 
        }
    }
}

.header-maintext {
    color: white;
    margin-left: 35px;
    margin-top: 50px;
    h1 {
        text-transform: uppercase;
        font-weight: 800;

        @include media($start-firstBreakpoint) {
            & {
                font-size: 27px;
            }
        }
        @include media($start-secondBreakpoint) {
            & {
                font-size: 23px;
            }
        } 
    }
    h5 {
        font-weight: 800;
        margin-top: 40px;
        margin-bottom: 20px;

        @include media($start-firstBreakpoint) {
            & {
                font-size: 18px;
            }
        }

        @include media($start-secondBreakpoint) {
            & {
                font-size: 15px;
            }
        } 
    }
    button {
        color: white;
        text-transform: uppercase;
        background-color: #ff6633;
        border-bottom: 3px solid #e63900;

        @include media($start-firstBreakpoint) {
            & {
                font-size: 15px;
            }
        }

        @include media($start-secondBreakpoint) {
            & {
                font-size: 13px;
            }
        } 
    }
    p {
        font-size: 18px;
    }
}