@import '../../../../assets/styles/utils/function';


.wrapper {
    background: jpg(bgheader_1) no-repeat;
    background-size: cover;
    width: 100%;
    height: 85%;
}

.header {
    margin: 0 20% 0 20%;
    ul {
        list-style: none;
        padding-top: 20px;
        li {
            color: #a9730e;
            text-transform: uppercase;
            padding: 15px;
            cursor: pointer;
        }

        span {
            background: png(logo) no-repeat;
            background-size: contain;
            width: 160px;
            height: 50px;
            margin-right: 20px;
        }
    }
}

.header-maintext {
    color: white;
    margin-left: 35px;
    margin-top: 50px;
    h1 {
        text-transform: uppercase;
        font-weight: 800;
    }
    h5 {
        font-weight: 800;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    button {
        color: white;
        text-transform: uppercase;
        background-color: #ff6633;
        border-bottom: 3px solid #e63900;
    }
}