<div class="wrapper">
    <div class="adopting">
        <h5>Adopting 101</h5>
        <p class="adopting__secondary">
            Class is in season! Here's a basic guide of what you would probably want to have<br>
            along with you at our adoption center:
        </p>
        <div class="d-flex flex-row">
            <p class="p-header"> 
                <fa-icon [icon]="faCheckCircle"></fa-icon> 
                an open mind
            </p>
            <p class="p-secondary">Not all furry creatures are alike!</p>
        </div>
        <div class="d-flex flex-row">
            <p class="p-header"> 
                <fa-icon [icon]="faCheckCircle"></fa-icon>
                comfortable shoes
            </p>
            <p class="p-secondary">You'll be on your feet all day, trust us!</p>
        </div>
        <div class="d-flex flex-row">
            <p class="p-header">
                <fa-icon [icon]="faCheckCircle"></fa-icon>
                mobile phone
            </p>
            <p class="p-secondary">To take pictures of your potential furry companion, of course</p>
        </div>
        <button class="btn">let's adopt</button>
    </div>
</div>
