<div class="wrapper">
    <div class="hall">
        <h5>Hall of meows.</h5>
        <p>Featured felines of the week!</p>
        <div class="hall__img">
            <img class="img-fluid img-thumbnail" src="assets/images/gallery_01.png" alt="Gallery 1">
            <img class="img-fluid img-thumbnail" src="assets/images/gallery_02.png" alt="Gallery 2">
            <img class="img-fluid img-thumbnail" src="assets/images/gallery_03.png" alt="Gallery 3">
            <img class="img-fluid img-thumbnail" src="assets/images/gallery_04.png" alt="Gallery 4">
            <img class="img-fluid img-thumbnail" src="assets/images/gallery_05.png" alt="Gallery 5">
            <img class="img-fluid img-thumbnail" src="assets/images/gallery_06.png" alt="Gallery 6">
        </div>
        <button class="btn">browse more</button>
    </div>
</div>